@use "@utrecht/design-tokens/dist/mixin-theme" as mixin;

.gpp-woo-theme {
  @include mixin.utrecht-theme;

  --utrecht-space-around: 1.5;

  --utrecht-surface-background-color: var(--utrecht-color-white);

  --utrecht-page-header-padding-block-start: 2px;
  --utrecht-page-header-padding-block-end: 2px;
  --utrecht-page-header-background-color: var(--utrecht-color-white);
  --utrecht-nav-bar-background-color: transparent;

  --utrecht-unordered-list-marker-color: var(--utrecht-color-blue-35);

  --utrecht-page-footer-background-color: var(--utrecht-color-blue-35);
  --utrecht-page-footer-background-image: none;

  --utrecht-button-icon-size: 1.5rem;

  --gpp-woo-card-max-inline-size: calc(var(--utrecht-page-max-inline-size) / 2);
  --gpp-woo-card-background-color: var(--utrecht-surface-background-color);
  --gpp-woo-card-content-padding-block: var(--utrecht-space-block-2xl);
  --gpp-woo-card-content-padding-inline: var(--utrecht-space-inline-2xl);
}
