@layer base, grid, main;
@import url("@utrecht/design-tokens/dist/index.css") layer(base);
@import url("@utrecht/component-library-css") layer(base);
@import url("./design-tokens.scss") layer(base);

@layer grid {
  $breakpoint: 768px; // ..

  html,
  body,
  #app {
    height: 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }

  .gpp-woo {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .container {
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 var(--spacing-default);
  }

  header {
    background-color: var(--utrecht-color-white);
  }

  @media screen and (min-width: $breakpoint) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--utrecht-color-white);
    }
  }

  nav {
    border: 1px solid var(--utrecht-color-red-40);
    border-left: none;
    border-right: none;
  }

  .hero {
    padding-block: var(--spacing-extralarge);
    margin-block-end: var(--spacing-large);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
