// Add project css to layers to be sure that the imported external tokens
// take highest precedence as they are loaded as unlayered css
@layer base, layout;
@import url("./design-tokens.scss") layer(base);
@import url("@utrecht/component-library-css") layer(base);

@layer layout {
  $breakpoint-md: 48rem;

  html,
  body,
  #app {
    height: 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }

  #app {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  header {
    padding-inline: 0;

    img {
      display: block;
    }

    @media screen and (min-width: $breakpoint-md) {
      & {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }

  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }

  .gpp-woo-link--icon {
    display: inline-flex;
    align-items: center;
    gap: var(--utrecht-button-icon-gap);
  }
}
