html,
body,
#app {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--utrecht-color-white);
}

.gpp-woo {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--spacing-large)
}