body {
  margin: 0;
}

.gpp-woo-loader {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.gpp-woo-loader-text {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 1.5rem;
  line-height: 2;
  margin: 1rem 4rem;
  border: 2px solid #c0c0c0;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
