.test-theme {
  --utrecht-unordered-list-marker-color: var(--utrecht-color-green-40);
  --utrecht-page-footer-background-color: var(--utrecht-color-green-40);
  --utrecht-page-footer-background-image: none;
}
